# ignore all logs
**/logs
*.logs

# ignore config files
config/*
/*.json
!/template/*

# ignore known-headsets data
/data/
known_headsets*.csv

# ignore generated html files
/OBS/*.html
!/OBS/template/

# ignore records
records/*

# ignore scrcpy tests
scrcpy_manualScripts/

#Other...
desktop.ini
.vscode

