# ignore all logs
**/logs
*.logs

# ignore config files
config/*
/*.json
!/templates/*

# ignore known-headsets data
/data/
known_headsets*.csv

# ignore generated html files
/website/*[video].html
/website/*[monitoring].html
/website/video_monitor.html
/website/monitor.html
/website/timer/*
!/website/template/

# ignore records
records/*

# ignore scrcpy tests
scrcpy_manualScripts/

# ignore large sources
/sources/ffmpeg-8.1-essentials_build.zip

#Web and app data
/app_icons

#Other...
desktop.ini
.vscode
OBS/timer/
.gdoc
/.github/
*_test.ps1
*.md